.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.register-container label {
    display: block;
    margin-bottom: 4px;
}

.register-container input {
    margin-bottom: 4px;
}