name: docker-project

services:
    db:
        image: postgres:17
        container_name: postgres-db
        restart: always
        environment:
            POSTGRES_DB: ${DATABASE_NAME}
            POSTGRES_USER: ${DATABASE_USERNAME}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        env_file:
            - .env.local

    app:
        build: .
        command: python manage.py runserver 0.0.0.0:8000
        container_name: app-container
        ports:
            - "8000:8000"
        depends_on:
            - db
        volumes:
            - .:/app
        environment:
            DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
            DEBUG: ${DEBUG}
            DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
            DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
            DATABASE_USERNAME: ${DATABASE_USERNAME}
            DATABASE_PASSWORD: ${DATABASE_PASSWORD}
            DATABASE_HOST: ${DATABASE_HOST}
            DATABASE_PORT: ${DATABASE_PORT}
        env_file:
            - .env.local
volumes:
    postgres_data:
