.recipes-container {
    margin-top: 20px;
}

.recipes-container h2 {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.recipe-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-list li {
    width: calc(50% - 10px);
}

.recipe-list--category-icon {
    font-size: 3rem;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .recipe-list li {
        width: 100%;
    }
}