.category-selector {
    /* margin: 20px auto; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.category-selector--category-button {
    font-family: inherit;
    font-size: 16px;
    padding: 1px 8px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 100vh;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: black;
    background-color: rgb(239, 239, 239);
}

.category-selector--category-button.selected {
    border-color: #333;
    background-color: #a2a2a2;
}

.category-selector--category-button:hover {
    cursor: pointer;
}

.category-selector--category-icon {
    margin-right: 8px;
    font-size: 30px;
}
