body {
  font-family: system-ui, -apple-system, sans-serif;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}

.max-width-800 {
  max-width: 800px;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
}